<div class="menu">
	<div class="menu__container">
		<a href="javascript:void(0);" class="close">
			<div class="close__rotate">
				<span></span>
				<span></span>
			</div>
		</a>
    {{#if @site.navigation}}
      {{navigation}}
    {{/if}}
		</nav>
	</div>
	<div class="overlay"></div>
</div>
